h1 {
    padding-left: 600px;
}
body {
    background-color: white;
}
.layout {
    width: 500px;
    margin: auto;
}
.accordion {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: aqua;
    border-radius:10px;
}
.accordion_ _ _question p {
    margin: 5px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(105,206,105);
    background-color: aqua;
    background-radius: 10px;
}
.accordion:hover {
    cursor: pointer;
}
.accordion_ _ _answer {
    display: none;
}
.accordian.active . accordion_ _ _answer {
    display: block;
}